
<div class="row hometext">
    <div class="col-lg-1"></div>
     <div class="col-lg-6">We are the $mart option for your easy $hopping in 3 simple steps, after registration:
         <ul class="homelist">
             <li>Create your Shopping List.... yes  you have Unlimited Shopping Lists</li>
             <li>Add products into your Shopping List at any time</li>
             <li>Submit your Shopping List to our Search Engine and let to us to Find the Best Deal for you</li>
         </ul>
    </div>   
    <img  src="/images/familyMarket2.png" class="img-circle img-responsive col-lg-3" alt="Shopping List in Action" />
</div>

<div class="row hometext">
    <div class="col-lg-2"></div>
    <img src="/images/allSupermarkets.png" class="img-rounded img-responsive col-lg-3" alt="Supermarkets and Products">
    <p class="col-lg-3 home2img" >Our administrators maintain a database of supermarkets and products ready for use</p>
</div>